 /* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

input[type='text'] {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #3e8e41;
} */

Body{
  background-image: url("../Ship/Ship-Wallpaper.jpg");
  background-size: cover;
} 
h1 {
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.form-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.select-option {
  padding: 5px 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
}

.bt1 {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.bt1:hover {
  background-color: #0069d9;
}

